.dropwown {
    display: block;
}

.select,
option:checked {
    width: 40px;
    border: none;
}

.select {
    border: 1px solid transparent;
    color: black;
    outline: none;
    -webkit-border: none;
}

select:active, select:focus{
    outline:none
  }