.currencies-dropdown {
    position: relative;
    z-index: 2;
}

.currencies-dropdown__overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}
.currencies-dropdown__overlay_opened {
    display: block;
}

.currencies-dropdown__options {
    display: none;
    flex-direction: column;
    padding: 20px 0;
    position: absolute;
    left: -10px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));

}

.currencies-dropdown__options_opened {
    display: flex;
}

.currencies-dropdown__container {
    display: flex;
    align-items: center;
}

.currencies-dropdown__selected-currency {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    min-width: 20px;
    position: relative;
    cursor: pointer;
    text-align: right;

    &::after {
        content: url(../../../images/open-currency-list.svg);
        position: absolute;
        bottom: 5px;
        left: 23px;
    }
}

.currencies-dropdown__option {
    width: 114px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #eee;
    }

    & input[type='radio'] {
        display: none;
    }
}

.header__currencies-btn_type_close {
    transform: rotate(180deg);
}