@import '../../index.scss';

.header {
    box-sizing: border-box;
    @include section-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    min-height: 80px;
    position: relative;
}

.header__actions {
    display: flex;
}

.header__currencies-btn {
    width: 8px;
    height: 6px;
    padding: 0;
    margin-left: 8px;
    background-color: transparent;
    border: none;
    background: url(../../images/open-currency-list.svg) no-repeat;
}

.header__currencies-btn_type_close {
transform: rotate(180deg);
}

// .header__currencies-btn_type_open {

// }

.header__cart {
    width: 20px;
    height: 20px;
    margin-left: 22px;
    background: url(../../images/empty-cart.svg) no-repeat;
    align-self: center;
}

