@import '../../index.scss';

.product-description {
    @include section-width;
    padding-top: 80px;
    display: grid;
    grid-template-areas:
        "gallery img description";

}

.product-description__container {
    grid-area: description;
}

.product-description__gallery {
    grid-area: gallery;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-description__gallery-img {
    width: 79px;
    height: 80px;
    object-fit: contain;
}

.product-description__selected-img {
    grid-area: img;
    max-width: 610px;
    max-height: 511px;
}

.product-description__brand {
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    margin: 0 0 16px;
}

.product-description__name {
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    margin: 0 0 43px;
}

.product-description__price {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 10px;

    & div {
        font-weight: 700;
        font-size: 24px;
        line-height: 18px;
        margin: 10px 0 20px;
    }
}

.product-description__add-to-cart-btn {
    width: 292px;
    height: 52px;
    margin: 0 0 40px;
    border: none;
    text-transform: uppercase;
    background-color: #5ECE7B;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    cursor: pointer;
}

.product-description__description {
    grid-area: info;

    & * {
        font-weight: 400;
        font-size: 16px;
        line-height: 159.96%;
        color: $text-color;
    }
}