@import '../../index.scss';

.cart-item {
    display: flex;
    gap: 5px;
    // width: calc(100% - 2 * 16px);
    margin: auto;
}

.cart-item__img {
    width: 121px;
    height: 190px;
    object-fit: contain;
}

.cart-item__amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 24px;
}

.cart-item__number {
    @include font-style-normal;
    text-align: center;
}

.cart-item__btn {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all .4s linear;
    &:hover {
        background-color: rgba($color: #000000, $alpha: .1);
    }

}

.cart-item__btn_type_plus {
    background-image: url(../../images/plus-square.svg);
}

.cart-item__btn_type_minus {
    background-image: url(../../images/minus-square.svg);

}

.cart-item__name, .cart-item__brand {
    @include font-style-normal;
    font-weight: 300;
}

.cart-item__price {
    @include font-style-normal;
    font-weight: 500;
    margin: 4px 0 8px;
}